.exercise-list {
  margin: 0 auto;
  padding: 40px;

  .exercise-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-collapse: collapse;

    .heading {
      float: left;
      width: 190px;
      padding: 5px 10px;
      font-weight: bold;
      font-size: 20px;
    }
  }

  iframe {
    display: none;
  }

  #input {
    margin-top: 30px;
  }
}