.exercise-list {

  .exercise-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-collapse: collapse;

    .heading {
      font-weight: bold;
    }
  }

  iframe {
    display: none;
  }

  #input {
    margin-top: 30px;
  }
}