.exercise-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  .exercise-wrapper {

    .exercise {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border-collapse: collapse;

      
      .cell {
        float: left;
        width: 190px;
        border: 1px solid grey;
        padding: 5px 10px;
        margin: 2px 0;
      }
    }

    .exercise-form {
        display: none;
    }

    .delete-button {
      display: flex;
      flex-direction: row;
      justify-content: center;

      button {
        background-color: none;
        border: none;
        padding: 3px;
        margin: 3px;
      }
    }
  }
}