.exercise-list {

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid grey;

    a {
      color: black;
      cursor: pointer;
    }

    th, td {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      padding: 5px;
    }

    th {
      font-weight: bold;
      text-align: left;
    }

    td {

      input {
        border: none;
      }

      ::placeholder {
        color: black;
        opacity: 1;
      }
    }
  }

  iframe {
    display: none;
  }
}