.exercise-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  .exercise-wrapper {

    .exercise {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .exercise-form {
        display: none;
    }

    .delete-button {
      display: flex;
      flex-direction: row;
      justify-content: center;

      button {
        background-color: none;
        border: none;
        padding: 3px;
        margin: 3px;
      }
    }
  }
}