body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  .content {
    padding: 40px;
  }
}

.inputName {
  width: 185px;
  height: 20px;
  margin: 0 5px 0 0;
}

.inputType {
  width: 120px;
  height: 26px;
  margin: 0 5px 0 0;
}

.inputTiming {
  width: 80px;
  height: 20px;
  margin: 0 5px 0 0;
}

.inputTarget {
  width: 220px;
  height: 26px;
  margin: 0 5px 0 0;
}

.inputSubmit {
  height: 26px;
}

input[type="checkbox" i] {
  width: 40px !important;
  height: 40px !important;
  padding: 40px !important;
}